.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  margin-bottom: 10px;
  max-width: 10px;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: #f0a7c2;
}
body .main {
  background-color: #de6394;
  border: 1px solid #4c4646;
  width: 50px;
  display: inline-block;
}
body .main.main--secondary {
  background-color: #a30941;
  border-radius: 3px;
}
body .main.main--secondary .blocTwo {
  font-size: 22px;
}
p > span {
  color: #d90866;
  font-size: 22px;
}
.container {
  padding: 60px 20px;
}
.grid {
  display: flex;
  flex-grap: wrap;
  position: relative;
  justify-content: flex-start;
  flex-direction: row;
}
[class^="grid--item"] {
  flex-shrink: 0;
  margin-right: 12px;
  flex-grow: 1;
}
.grid-item-1 {
  width: 100%;
}
.grid-item-2 {
  width: 50%;
}
.grid-item-3 {
  width: 33.333333333333336%;
}
.grid-item-4 {
  width: 25%;
}
