@import "_variables.styl"

mixin-max-width()
	max-width 800px
	margin-left auto
	margin-right auto
	
.container
	mixin-max-width()
	
.section
	margin-bottom 10px
	mixin-max-width()		

body
	background-color background-app
	
	.main
		background-color #DE6394
		border 1px solid #4c4646
		width 50px
		display inline-block
		&.main--secondary
			background-color #A30941
			border-radius 3 px

p > span
	color color-letter
	font-size font-sizer