@import "_variables.styl"


mixin-max-width(width)
	max-width width
	margin-left auto
	margin-right auto
	
.container
	mixin-max-width(800px)
	
.section
	margin-bottom 10px
	mixin-max-width(10px)		

body
	background-color background-app
	
	.main
		background-color #DE6394
		border 1px solid #4c4646
		width 50px
		display inline-block
		&.main--secondary
			background-color #A30941
			border-radius 3 px
			& .blocTwo
				font-size valone + valtwo

p > span
	color color-letter
	font-size font-sizer
	
box(x,y, margin-only = true)
	if margin-only
		margin x y
	else
		padding x y
		
.container
	box(60px, 20px, false)		  